---
layout: default
---
<section id="welcome">
	<h3>Welcome</h3>
	<p>Hello, I am Julian Webb. I try to make things, and I try to document them here.</p>
</section>
<section id="entries">
	<h4>Entries</h4>
	{% for category in site.data.categories.categories %}
	{% assign exists = site.entries | find: "category", category.slug %}
	{% if exists %}
	<h5>{{ category.clean }}</h5>
	<div id="{{ category.slug }}-entries">
		{% assign entries = site.entries | where: "category", category.slug | sort: "publishedOn" %}
		<ul>
			{% for entry in entries %}
			{% capture entryDate %}{{ entry.publishedOn }}{% if entry.modifiedLast %}*{% endif %}{% endcapture %}
			{% capture entryTitle %}{{ entry.title }}: {{ entry.subtitle}}{% endcapture %}
			<li>{{ entryDate }} - <a href="{{entry.url}}">{{ entryTitle }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endfor %}
</section>
<section id="contact">
	<h4>Contact</h4>
	<p>You can find me in the following places:</p>
	<table>
		<tr>
			<th>Email</th>
			<td>email@[this.domain]</td>
		</tr>
		<tr>
			<th>Github</th>
			<td><a href="https://github.com/JulianWebb" class="off">https://github.com/JulianWebb</a></td>
		</tr>
	</table>
</section>