---
layout: default
---
<h1>Welcome</h1>

The following are entries written by me.

<div id="blog-posts">
<h2>Blog Posts</h2>
{% for cat in site.data.categories.categories %}
<h3>{{ cat }}</h3>
{% assign category = cat | downcase %}
<div id="{{category}}-posts">
{% assign exists = site.entries | find: "category", category %}
{% if exists %}
{% assign entries = site.entries | where: "category", category | sort: "postedDate" %}
<ul>
{% for entry in entries %}
<li>{{ entry.postedOn }} - <a href="{{ entry.url }}">{{ entry.title }}</a></li>
{% endfor %}
</ul>
</div>
{% else %}No posts in this category yet.
{% endif %}
{% endfor %}
</div>