@font-face {
    font-family: 'SignikaNegative';
    src: url('./assets/SignikaNegative-Bold.ttf');
}

@font-face {
    font-family: 'MapleLeaf';
    src: url('./assets/mapleleaf.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    display: grid;
    background: #39285a;

    color: #222;
    font-family: 'sans-serif'
}

#site-header {
    margin: 0 auto;
    padding: 4px 16px;

    color: #DFDFDF;
    font-family: "SignikaNegative";
    font-size: 64px;
    font-style: italic;
}

#site-header span {
    font-family: "MapleLeaf";
    font-size: 16px;
}

#page-container {
    width: inherit;
    display: grid;
}

@media screen and (min-width:700px) {
    #page-container {
        margin: 0 auto;
        width: 60%;
    }
}

#site-navigation {
    margin: auto;
    width: min-content;
    display: inline-flex;
    background: #BDBDBD;
}

#site-navigation a {
    padding: 8px 16px;
    display: inline-block;

    color: #222;
    font-family: 'SignikaNegative';
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}

#site-navigation a:hover {
    background: #DFDFDF;

    text-decoration: underline;
}

#page-content {
    padding: 16px;
    display: grid;
    background: #DFDFDF;
}

#page-content #page-header {
    font-family: "SignikaNegative";
    font-size: 32px;
}

#page-content article {
    width: inherit;
    display: grid;
    padding: 8px auto;
}

#page-content article > div {
    margin: 0;
    width: inherit;
    padding: 4px 0;
}

.showcase {
    background: #BDBDBD;
    margin: 0;
    padding: 8px;
    display: block;
}

.showcase div {
    margin: 0;
    padding: 0;
}

div.showcase-title {
    font-family: 'SignikaNegative';
    font-weight: bold;
    font-size: 24px;
    padding: 4px 8px 4px 0;

}

#page-content article .sign-off {
    margin-left: auto;
    font-style: italic;
}

#site-footer {
    margin: auto;
    width: max-content;
    padding: 8px;

    background: #BDBDBD;
}