---
---

:root {
	--background-primary: #222;
	--background-secondary: #333;
	--font-primary: #EEE;

	@media (prefers-color-scheme: light) {
		--background-primary: #EEE;
		--background-secondary: #DDD;
		--font-primary: #111;
	}
}

ul {
	margin: 0;
}

body {
	background: var(--background-primary);
	color: var(--font-primary);

	div.highlight {
		background-color: var(--background-secondary);
	}

	code {
		background-color: var(--background-secondary);
	}

	a {
		color: var(--font-primary);
	}

	ul#entry-info {
		background-color: var(--background-secondary);
	}

	.entry-image-wrapper {
		background-color: var(--background-secondary);
	}

	#markdown-toc {
		background-color: var(--background-secondary);
	}
}

div.highlight {
	padding: 1em;
	overflow: scroll;
	width: 90%;
	margin: 0 auto;
}

code {
	font-size: 125%;
	padding: 0.1em;
}

body {
	max-width: 1024px;
	padding: 1em;
	font-family: sans-serif;

	a {
		font-weight: bold;
	}

	header {
		a {
			text-decoration: none;
			font-weight: bolder;
			font-size: 400%;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	main {
		header#entry-title {
			font-weight: bold;
			font-size: 175%;
		}

		ul#entry-info {
			list-style: none;
			padding: 1em;
			margin: 1em;
		}
		
		p {
			margin: 1em 0;
		}

		#blog-posts {
			ul {
				list-style-type: none;
			}
		}

		.entry-image-wrapper {
			width: 90%;
			margin: 0 auto;
			padding-top: 1em;

			.entry-image {
				margin: 0 auto;
			}

			.entry-image-caption {
				display: block;
				text-align: center;
				width: inherit;
				padding: .5em;
			}
		}
	}
	
	footer {
		text-align: right;
	}
}


/* Table of Contents theming */
.screen-reader-only {
	position: absolute;
	left: -5000px;

	&:focus {
			left: 0;
	}
}

#markdown-toc {
	display: inline-block;
	padding: 1em;
	margin-left: 1em;

	&::before {
		content: "Table of Contents";
		font-weight: bold;
	}

	li {
		margin-left: 1em;
	}
}