{% capture articleTitle %}
{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %}
{% endcapture %}
{% capture pageTitle %}
{% if page.title %}{{ articleTitle }} | {% endif %}{{ site.data.options.title }}
{% endcapture %}
<title>{{ pageTitle }}</title>

<link href="/styles/reset.css" rel="stylesheet" />
<link href="/styles/felipec.min.css" rel="stylesheet" />
<link href="/styles/style.css" rel="stylesheet" />

<link rel="apple-touch-icon" sizes="180x180" href="/media/icons/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/media/icons/favicon-32x32.png?v=1">
<link rel="manifest" href="/media/icons/site.webmanifest?v=1">
<link rel="mask-icon" href="/media/icons/safari-pinned-tab.svg?v=1" color="#603cba">
<link rel="shortcut icon" href="/media/icons/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="/media/icons/browserconfig.xml?v=1">
<meta name="theme-color" content="#603cba">

{% if page.title %}<meta property="og:title" content="{{articleTitle }}" />{% endif %}
{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
{% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
{% if page.layout == "entry" %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.publishedOn }}" />
<meta property="article:modified_time" content="{{ page.modifiedLast }}" />
<meta property="article:author" content="{{ site.data.options.author }}" />
<meta property="article:tag" content="{{ page.tags | array_to_sentence_string: '' }}" >
{% endif %}
<meta property="og:site_name" content="{{ site.data.options.title }}" />
<meta property="og:locale" content="en_CA" />

<script src="/scripts/highlight.min.js"></script>
<script src="/scripts/highlightjs-line-numbers.min.js"></script>
<script>
	hljs.highlightAll();
	hljs.initLineNumbersOnLoad();
</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, inital-scale=1.0" />
