<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.options.title }}</title>
	<link href="/style/reset.css" rel="stylesheet" />
	<link href="/style/main.css" rel="stylesheet" />

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=1">
	<link rel="manifest" href="/icons/site.webmanifest?v=1">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=1" color="#603cba">
	<link rel="shortcut icon" href="/icons/favicon.ico?v=1">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="/icons/browserconfig.xml?v=1">
	<meta name="theme-color" content="#603cba">
	
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, inital-scale=1.0" />
</head>