<p class="links">
  {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}" title="twitter" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.matrix_link %}<a href="{{ site.matrix_link }}" title="matrix" target="_new"><i class="fa fa-matrix-org"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" title="linkedin" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" title="github" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
  {% if site.gopher_link %}<a href="{{ site.gopher_link }}" title="gopher" target="_new"><i class="fa fa-rocket"></i></a>{% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
