<style type="text/css">
    .certification {
        display: grid;
        grid-template:  "img head" auto
                        "img info" 1fr / 20% 1fr;
        padding: 1em;
        background:#4e4e4e;
        margin-bottom: 1em;
    }

    .certification .cert-img {
        grid-area: img;
    }

    .certification .cert-title {
        grid-area: head;
        font-size: x-large;
        font-weight: bold;
        padding: 0 0.5em; 
    }

    .certification .cert-info {
        grid-area: info;
        padding: 0 0.5em;
        font-style: italic; 
    }

    @media (prefers-color-scheme: light) {
        .certification {
            background: #c4c4c4;
        }
    }
    .project {
        display: grid;
        grid-template:  "img head" auto
                        "img info" 1fr
                        "img link" auto / 20% 1fr;
        padding: 1em;
        background:#4e4e4e;
        margin-bottom: 1em;
    }

    .project .project-img {
        grid-area: img;
    }

    .project .project-title {
        grid-area: head;
        font-size: x-large;
        font-weight: bold;
        padding: 0 0.5em; 
    }

    .project .project-info {
        grid-area: info;
        padding: 0 0.5em;
        font-style: italic; 
    }

    .project .project-link {
        grid-area: link;
        padding: 0 0.5em;
        text-align: right;
    }

    @media (prefers-color-scheme: light) {
        .project {
            background: #c4c4c4;
        }
    }
</style>