:root {
  --background-primary: #222;
  --background-secondary: #333;
  --font-primary: #DDD;
  --page-width: calc(var(--article-width) + var(--aside-width));
}
@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #EEE;
    --background-secondary: #DDD;
    --font-primary: #222;
  }
}
@media (min-width: 1536px) {
  :root {
    --article-width: 1024px;
    --aside-width: 512px;
  }
}
@media (min-width: 1024px) and (max-width: 1536px) {
  :root {
    --article-width: 1024px;
    --aside-width: 0px;
  }
}
@media (max-width: 1024px) {
  :root {
    --article-width: auto;
    --aside-width: 0px;
  }
}

a {
  color: var(--font-primary);
}
a.off {
  font-weight: bold;
}

body {
  font-family: sans-serif;
  color: var(--font-primary);
  background-color: var(--background-primary);
}
body header {
  width: var(--article-width);
  margin: 1em;
  padding: 1em;
  text-align: center;
}
body header #page-title {
  font-size: 200%;
  font-weight: bold;
}
body header #page-title #page-subtitle {
  font-size: 75%;
  font-weight: normal;
}
body header nav {
  font-style: italic;
  text-align: left;
}
body footer {
  width: var(--article-width);
  background-color: var(--background-secondary);
  margin: 1em;
  padding: 1em;
  text-align: center;
}
body footer div {
  display: inline-block;
  padding: 0 1em;
}
body main {
  width: var(--page-width);
  margin: 1em;
}
body main section {
  margin-bottom: 1em;
}
body main section h3 {
  font-size: 1.5em;
}
body main section h4 {
  font-size: 1.25em;
}
body main section h5 {
  font-size: 1.125em;
  margin: 0;
}
body main section > div, body main section > p {
  width: calc(var(--article-width) - 2em);
  padding: 0.5em;
  display: inline-block;
}
body main section > div ul, body main section > p ul {
  margin-top: 0;
}
body main section > div > code, body main section > p > code {
  font-size: 1.25em;
  background-color: inherit;
}
body main section > div pre.codebox, body main section > p pre.codebox {
  width: calc(var(--article-width) - 4em);
  margin: auto;
  padding: 1em;
  background-color: var(--background-secondary);
}
body main section > div pre.codebox code, body main section > p pre.codebox code {
  padding: 1em;
  overflow-x: scroll;
}
body main section > div pre.codebox code td.hljs-ln-line.hljs-ln-code, body main section > p pre.codebox code td.hljs-ln-line.hljs-ln-code {
  padding-left: 1em;
}
body main section > div pre.codebox img, body main section > p pre.codebox img {
  margin: 0 auto;
}
body main section > div pre.codebox p, body main section > p pre.codebox p {
  text-align: center;
}
body main section aside {
  background-color: var(--background-secondary);
  margin: 0 1em 1em 1em;
  padding: 1em;
  padding-bottom: 0.5em;
  font-style: italic;
}
@media (min-width: 1536px) {
  body main section aside {
    float: right;
    width: var(--aside-width);
    display: inline;
  }
}
@media (max-width: 1536px) {
  body main section aside {
    width: calc(var(--article-width) - 4em);
  }
}
body main section aside sup {
  font-style: normal;
}
body main section aside p {
  margin-bottom: 0.5em;
}
body main section #table-of-contents nav {
  background-color: var(--background-secondary);
  margin-left: 1em;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(var(--article-width) - 2em);
}
body main section #table-of-contents nav div {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
}
body main section #table-of-contents nav ul {
  margin: 0;
  list-style: none;
}
body main section#article-header div#article-title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
body main section#article-header div#article-subtitle {
  font-size: 175%;
  text-align: center;
  padding: 0;
}
body main section#article-header dl#article-info {
  width: calc(var(--article-width) * 0.6);
  margin: 1em auto auto auto;
  padding: 0.5em;
  background: var(--background-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0 0.5em;
  grid-template-areas: "published modified" "category length" "tag tag";
}
body main section#article-header dl#article-info dt {
  font-weight: bold;
  padding-right: 1em;
}
body main section#article-header dl#article-info span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 0.25em;
}
body main section#article-header dl#article-info #article-tag {
  grid-area: tag;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
}
body main section#article-header dl#article-info #article-tag dd {
  text-align: left;
}/*# sourceMappingURL=style.css.map */